<head>
    <title> Welcome to the Web app using Golang</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
<!--    <div>-->
        <form action="/logout">
            <input type="submit" value="Logout" />
        </form>
<!--    </div>-->
    <h1>Comments</h1>
    <form method="POST">
        <label>
            <textarea name="comment"></textarea>
        </label>
        <div>
            <button type="submit">POST Comment</button>
        </div>
    </form>
    {{ range . }}
    <div> {{ . }}</div>
    {{ end }}
</body>