<head>
    <title> Insta-Updates </title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
<!--    <div>-->
        <form action="/logout">
            <input type="submit" value="Logout" />
        </form>
<!--    </div>-->
    <h1>Insta-Updates</h1>
    <form method="POST">
        <label>
            <textarea name="updates"></textarea>
        </label>
        <div>
            <button type="submit">POST Update</button>
        </div>
    </form>
    {{ range . }}
    <div>
        <div> <strong> {{ .GetUsername }} tweets: </strong> </div>
        <div> {{ .GetBody }}</div>
        <div> <strong> {{ .GetCreatedAtTime }} </strong> </div>
    </div>
    {{ end }}
</body>